/obj/Debug/CoreCompileInputs.cache
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/Everyday.AlarmForm.resources
/obj/Debug/Everyday.csproj.GenerateResource.Cache
/obj/Debug/Everyday.csproj.ResolveComReference.cache
/obj/Debug/Everyday.csprojResolveAssemblyReference.cache
/obj/Debug/Everyday.exe
/obj/Debug/Everyday.pdb
/obj/Debug/Everyday.Properties.Resources.resources
/obj/Debug/Interop.WMPLib.dll
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
